@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/*------------------
/*--------Estas son las variables de css donde establezco en el root y puedo usar en todos los demas---------
------------------*/
:root{
    --color-primario: rgb(30, 144, 255);
}
*{ /*margin y padding universal*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    /* todos los link sin decoracion */
}
body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column;
}
/*------------------
/*--------Header---------
------------------*/

header {
    /* Centro la imagen y la adapto centrandola */
    background: url('/assets/images/2303.jpg') no-repeat center/cover;
    display: flex;
    flex-flow: column;
    height: 350px;
    color: white;
}
header nav {
    display: flex;
    flex-flow: row;
    /* flex-wrap: wrap; */
    height: 60px;
    background-color: rgba(33, 33, 33, 0.7);
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
header nav a{
    color: inherit;
    display: flex;
    align-items: center;
    padding: 0 20px;
    transition: background 0.3s ease-in-out;
}
header a:hover{
    background-color: var(--color-primario);
}
.header-title{
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);

}
.header-title > div{
    width: 70%;
    line-height: 1.7rem;
}
.header-title h1{
    /* rem son medidas relativas por el 16px por defecto de html nos queda 16*1.5 = 24px  */
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}
p{
    margin: 20px auto;
}

/*------------------
/*--------Main---------
------------------*/

/* Main */

#introduction{
    display: flex;
    flex-flow: row;
}
section#introduction h1{
    font-size: 2rem;
}
#introduction > div{
    padding: 2rem 3rem;
}
/* #btns{
    flex-direction: column;
} */
.btn{
    background-color: var(--color-primario);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    transition: background 0.4 ease-in-out;
}
.btn:hover{
    background-color: rgb(10, 102, 194);
}
.btn.btn-danger{
    background-color: red;
}
.btn.btn-orange{
    background-color: orange;
}
.introduction-info{
    background-color: rgb(26, 23, 31);
    /* flex: 1; */
}
.introduction-icon{
    background-color: rgba(244, 245, 245, 0.966);
    color: black;
    flex: 0 0 400px;
}
.introduction-icon ul{

}
.introduction-icon li{
    flex: 1;
    list-style: none;
    display: flex;
    align-items: center;
}
.introduction-icon li>i {
    font-size: 3rem;
    margin-right: 15px;
    width: 54px;
    color: dodgerblue;
    border: black;
}
.introduction-icon li > p{
    display: flex;
    justify-content: flex-start;
}

.our-work {
    padding: 2rem 3rem;
    background-color: var(--color-primario);
}
section.our-work {
    background-color: rgb(191, 228, 235);
}
section h1.title{
    color: rgba(0, 195, 255, 0.555);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    border: 10px red;
}
section p.description{
    font-weight: 300;
    text-align: center;
    color: #555;
}

/*------------------
/*--------clases de tecto---------
------------------*/

.text-center {
    text-align: center important;
}
/*------------------
/*--------el card container lo uso para que 
todo entre en el contenedor y no se sobrepongan, como me paso con los botones   tambien puedo ver grid---------
------------------*/
.card-container{
    display: flex;
    flex-wrap: wrap;
}
/*------------------
/*--------En .card hago que las tarjetas se ponga una debajo de la otra mas los colores y demas---------
------------------*/
.card {
    background-color: rgb(241, 241, 241);
    color:  black;
    padding: 1rem 1.5rem 0.5rem;
    box-shadow: 3px 3px 10px rgb(87, 82, 82);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 250px;
    margin: 10px;
}
.card .card-icon{
    font-size: 4rem;
    color: var(--color-primario);
}
.card .card-title{
    font-weight: bold;
    font-size: 1.4rem;
    margin: 5px auto;
}
.card .card-content{
    font-size: 0.8rem;
    color: gray;
}
.card .card-footer{
    margin: 25px;
    font-size: 0.7rem;
    padding: 10px;
    border-top: 1px solid #666;
    width: 100%;
    text-align: center;

}
/*------------------
/*--------aca hago gradiente en rojo---------
------------------*/
#work-with-us{
    padding: 2rem 3rem;
    background: 
    linear-gradient( to bottom,
                        rgba(0,0,0, 0.3) 0%,
                        rgba(207, 39, 39, 0.3) 100%),url('/assets/images/work.jpg') center center/cover;
    background-repeat: no-repeat;

}
#work-with-us .description{
    color: white;
}
#work-with-us h1{

}
button{
    border: none;
    cursor: pointer;
}
footer {
    min-height: 220px;
    background: linear-gradient(to right, rgb(0,0,0) 50%, rgb(0,48,79)100%);
}